body {
  overflow: hidden;
}

#wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--contentSpacing);
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  #wrap {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
